
$text-color: #666;
$description-color: #494949;
$white-text: #ffff;
$accent-color: #ff3838;
$background-color: #f7f7f7;
$white-background:  #ffff;
$font-family: 'Nunito', sans-serif;
$footer-background-color: #141313;