@import './mixins';
@import './variables';

.header{
  width: 100%;
  height: fit-content;
  background-color: $white-background;
  margin: 0 auto;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  box-shadow: 0px -4px 19px 3px rgba(86, 86, 86, 0.23);


  .header-content-container{
    background-color: $white-background;
    height: 100%;

    width: 80%;
    margin: 0 auto;
    @include flex-center-between;


    .logo{
      @include flex-center-between;
      width: fit-content;
      text-decoration: none;

      &:hover{
        cursor: pointer;
      }
      .logo-icon{
        width: 30px;
        height: 30px;
        color: $accent-color;
      }

      .logo-text{
        font-family: $font-family;
        font-size: 1.8rem;
        font-weight: 400;
        color: #666666f1;
        margin-left: 10px;
      }
    }


    .navigation{
      width: 20%;
      @include flex-center-between;

      .nav-item{
        list-style: none;
        .link{
          text-decoration: none;
          color: $text-color;
          font-size: 1.2rem;
          font-family: $font-family;
          transition: all ease-in-out 0.2s;
          &:hover{
            color: $accent-color;
          }
        }
      }
    }

    .menu-icon{
      display: none;
      width: fit-content;
      height: fit-content;
      z-index: 30;

      .burger-menu{
        height: 35px;
        width: 35px;
        color: $text-color;
        
        &:hover{
          cursor: pointer;
        }
      }
    }

  }


  @media (max-width: 1232px) {
    .header-content-container{
      width: 90%;
      
      .navigation{
        width: 25%;
      }
    }
  }

  @media (max-width: 885px) {
    .header-content-container .navigation {
      width: 30%;
    }
  }

  @media (max-width: 800px) {
    .header-content-container{
      
      .navigation{
        display: none;
      }

      .menu-icon{
        display: initial;
      }
    }
  }
}

